@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kaushan+Script&family=Staatliches&display=swap');
body{
    background-image: url("12.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*Form inside Modal*/
.uploadForm{
margin-top: 1.5rem;
display: flex;
flex-direction: column;
flex-wrap:wrap;
align-items: center;
justify-content: flex-start;
align-content: space-around;
background-color: rgba(255,255,255,0.13);
padding: 1rem;
border: none;
border-radius: 2%;
outline: none;
border-radius: 10px;
}

.uploadForm *{
    font-family: 'Poppins',sans-serif;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    letter-spacing: 0.5px;
}


.captionInput{
    width:100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    /* background-color: blueviolet; */
    height: 3rem;
    outline: none;

}
.captionInput::hover{
    color: brown;
}
/*upload button*/
.upload{
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
    margin-left : 32%;
}

.upload::hover{
    background-color: rgba(255,255,255,0.47);
}


/* posts */
.rhs .rhs1{
    background-color: rgba(255,255,255,0.17);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6); 
}

.desc{
    font-size: large;
}
.post_img{
    max-width: 80px;
}


/* modal form */
.react-responsive-modal-modal {
    background: radial-gradient(black, transparent);
    min-width: 50%;
    min-height: 60%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);
    top: 3.2rem;
    position: absolute;
    overflow-y: auto;
    background: radial-gradient(black, transparent);
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 25%);

}

/*preview*/
#preview{
    margin: 2rem;
    justify-content: flex-start;
    max-width: 20rem;
    max-height: 20rem;
    min-width: 10rem;
    outline: none;
}
/*Loading*/
.loader {
    border: 7px solid #70AE9C;
    border-radius: 50%;
    border-top: 7px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1.25s linear infinite;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16.5%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loadingTitle{
      margin-top:2rem;
      color:#70AE9C;

  }
/*logo*/
.logo{
    height:3rem;
    width: 3rem;
    margin-right: 1.5rem;
}

/* .switch{
    right: 0%;
    left: auto;
} */

